# Puerto de la app
PORT=3000
# URI de conexión a MongoDB
MONGO_URI=contraseña_de_conexión_a_mongodb
# Configuración de Correo
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=tu_contraseña_de_aplicación
EMAIL_RECEIVER=correo_que_recibe@gmail.com